*{
    padding:0;
    margin:0;
  }
  body{
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Festive', cursive;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans Condensed', sans-   serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Redressed', cursive;
    font-size:18px;
    margin:0;
    text-align:center;
  }
  .top{
    background-image:url("https://images.unsplash.com/photo-1504814532849-cff240bbc503?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
    background-size:cover;
    background-postion:center;
    background-repeat:no-repeat;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0 20px;
  }
  .top h1{
    color:#926239;
    font-size:50px;
    line-height:1.3
  }
  .top p{
    color:#926239;
    font-size:30px;
  }
  .top .button{
    color:#926239;
    text-decoration:none;
    border:1px solid #926239;
    padding:10px 20px;
    border-radius:10px;
  }
  .top .button:hover{
    color:silver;
    background-color:#926239;
  }
  section{
    font-size:25px;
  }
  .section1{
    background-color:#926239;
    color:silver;
    padding:20px;
  }
  .section2{
    color:#926239;
    background-color:silver;
    padding:20px;
  }
  .section3{
    display:flex;
  }
  .section3 .left{
    background-color:#926239;
    color:silver;
    padding:20px;
  }
  .section3 .mid{
    background-color:#c3cdde;
    color:#926239;
    padding:20px;
  }
  .section3 .right{
    background-color:#926239;
    color:silver;
    padding:20px;
  }
  
  
  